<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>104015631522-nm3htsg6ks87qslfjhb08onpb3bgvres.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104015631522-nm3htsg6ks87qslfjhb08onpb3bgvres</string>
	<key>API_KEY</key>
	<string>AIzaSyDLVBKyzu4e_0lLTIh6DJixqWJ0Rhcij8U</string>
	<key>GCM_SENDER_ID</key>
	<string>104015631522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosPrak.matterOfdebate</string>
	<key>PROJECT_ID</key>
	<string>matterofdebate-e6a82</string>
	<key>STORAGE_BUCKET</key>
	<string>matterofdebate-e6a82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104015631522:ios:a3aca6d83d3cbcb3</string>
	<key>DATABASE_URL</key>
	<string>https://matterofdebate-e6a82.firebaseio.com</string>
</dict>
</plist>